.header {
  min-height: 100vh;
  background-image: url(../img/home_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

.bg-attachment {
  background-attachment: fixed;
}

.logo img {
  height: 50px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #03C4EB;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #1bd6fc;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}